In [ ]:

from sqlalchemy import create_engine
from sqlalchemy.orm import sessionmaker

In [14]:
engine = create_engine("sqlite:///../lm_heldout.db")

session = sessionmaker()
session.configure(bind=engine)
s = session()

In [15]:
result = engine.execute("SELECT id FROM tweets")

In [16]:
heldout_ids = [r[0] for r in result]
heldout_ids[:10]

['1289410734363832320',
 '1289410946146791424',
 '1289411136929112064',
 '1289412301318008832',
 '1289413203630280704',
 '1289416259629649920',
 '1289416747972321280',
 '1289417111140331520',
 '1289417330334642176',
 '1289417509083389952']

In [17]:
len(heldout_ids)

161282

In [18]:
eng2 = create_engine("sqlite:///../lm_train.db")

In [19]:
result = eng2.execute("SELECT COUNT(*) FROM tweets")
for r in result:
    print(r)

(5348259,)

In [20]:
for i in heldout_ids:
    eng2.execute(f"DELETE FROM tweets WHERE id = {i}")

In [21]:
result = eng2.execute("SELECT COUNT(*) FROM tweets")
for r in result:
    print(r)

(5186977,)